<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h3>Item</h3>
    <form action="/foods/<%=food._id%>?_method=PUT" method="POST">
    <div>
            <div>
                <div>
                    <div>Name</div>
                    <input type="text" name="name" value="<%=food.name%>"/>
                </div>
                <div>
                    <div>Description</div>
                    <input type="text" name="description" value="<%=food.description%>"/>
                </div>
                <div>
                    <div>Image</div>
                    <input type="text" name="img" value="<%=food.img%>"/>
                </div>
                <div>Price </div>
                    <input type="text" name="price" value="<%=food.price%>"/>
                </div>
                <div>
                    <input type="submit" action="/`foods" value="Update item"/>
                </div>
      </div>
    </form>
    </body>
  </html>

