<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2b6abca296.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css" />
  
    <title>Somali Dishes</title>
</head>
<body>
     
 <nav class="navbar navbar-expand-md">
 
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/foods/new">Add a Dish</a>
          </li>
      </ul>
  </div>
</nav>
  
    <div>
   
      <div class="container">
        <% foods.forEach(food => { %>
        <div class="container2">
          
          <h5><%=food.name %></h5>
          <p class="fdescription"><%=food.description %></p>
          <div>
            <a href="foods/<%= food._id %>"
              ><img src="<%= food.img %>" alt="" style="width: 200px; height: 200px; object-fit: scale-down" class="img" /></a>
          </div>
          <form action="/foods/<%= food.id %>?_method=DELETE" method="POST">
    
              <input type="submit" value="DELETE" class="delete"/>
               <a href="/foods/<%=food._id %>/edit" class="edit">Edit</a> 

            </form>
        
        </div>
        <% }) %>
      </div>
  </body>
</html>
       

