<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<body>
    <ul>
        <% for(let i = 0; i < foods.length; i++) { %>
        <li>
            <a href="/restaurant/<%=i%>"><%=foods[i].name %></a>
            <a href="/<%=i%>"><img src="<%foods[i].img%>"></a>
             <!-- DELETE FORM -->
    <form action="/restaurant/<%=i%>?_method=DELETE" method="POST" >
        <input type="submit" value="Delete" />
                  <!-- EDIT LINK -->
    <a href="/restaurant/<%=i%>/edit" class="edit">Edit</a>
        </li>
        <% } %>
    </ul>
</body>
</html>